.detailContainer {
    display: flex;
    flex-direction: column;
    color: #000000;
    width: 400px;
    border: 1px solid #000000;
}

.detailContainer > div {
    padding: 5px 10px;
}

.stateHeader {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    height: 50px;
    font-size: 16px;
}

.stateId {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    font-size: 14px;
}

.addQuestions {
    font-size: 14px;
}

.addRecommendations {
    font-size: 14px;
}

.nextStates {
    font-size: 14px; 
}
