.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    height: 50px;
    color: #000000;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
}

.algorithmTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.optionsBtn {
    height: 40px;
}
